{% extends 'article/email/layout.html.twig' %}

{% block body %}
    <h1>Ajout d'article</h1>

    <p>Titre de l'article : {{ article.title }}</p>
    <a href="{{ url('article_show', {'id': article.id} )  }}">Voir l'article</a>
{% endblock %}