{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur mon blog!</h1>

    <a href="{{ path('blog_index') }}">
        Voir tous les articles : catégories et titres
    </a>
    <br>
    <a href="{{ path('article_index') }}">
        Voir tous les contenus des articles
    </a>

{% endblock %}
