{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur mon blog!</h1>

    <a href="{{ path('blog_index') }}">
        Testing blog index() method, to view all articles.
    </a>
    <br>
    <a href="{{ path('article_index') }}">
        Testing article index() method, to view all articles.
    </a>

{% endblock %}
